<!DOCTYPE html>
<html>
<head>
    <title>ข้อมูลลูกค้า</title>
</head>
<body>
    <h1>ข้อมูลลูกค้า</h1>
    <a href="{% url 'Taskscontroller:create_client'%}">เพิ่มลูกค้า</a>
    <table>
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>รหัสลูกค้า</th>
                <th>ชื่อบริษัท</th>
                <th>เลขที่นิติ</th>
                <th>Contact Name</th>
                <th>Register Tax</th>
                <th>สถานะ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in clients %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.code }}</td>
                <td>{{ c.company_name }}</td>
                <td>{{ c.tax_id }}</td>
                <td>{{ c.contact_name }}</td>  <!-- Fix the typo here (contact__name to contact_name) -->
                <td>{{ c.register_tax }}</td>
                <td>{{ c.status }}</td>
                <td>
                    <a href="{% url 'Taskscontroller:update_client' pk=forloop.counter %}">แก้ไข</a>
                    <a href="{% url 'Taskscontroller:delete_client' pk=forloop.counter %}" onclick="deleted()">ลบ</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function deleted(){
            alert("คุณแน่ใจหรือว่าจะลบรายการนี้?");
        }
    </script>
</body>
</html>
