<!DOCTYPE html>
<html>

<head>
    <title>แก้ไขข้อมูลลูกค้า</title>
</head>

<body>
    <h1>แก้ไขข้อมูลลูกค้า</h1>
    <form method="post" action="{% url 'Taskscontroller:update_client' pk=client.id %}">
        {% csrf_token %}

        <label for="code">Code:</label>
        <input type="text" name="c_code" value="{{ client.code }}"><br>

        <label for="company_name">Company Name:</label>
        <input type="text" name="c_company_name" value="{{ client.company_name }}"><br>

        <label for="tax_id">Tax ID:</label>
        <input type="text" name="c_tax_id" value="{{ client.tax_id }}"><br>

        <label for="contact_name">Contact Name:</label>
        <input type="text" name="c_contact_name" value="{{ client.contact_name }}"><br>

        <label for="register_tax">Register Tax:</label>
        <input type="text" name="c_register_tax" value="{{ client.register_tax }}"><br>

        <button type="submit" onclick="updated()">Update</button>
    </form>

    <a href="{% url 'Taskscontroller:list_client' %}">กลับไปหน้าข้อมูลลูกค้า</a>

    <script>
        function updated(){
            alert("บันทึกรายการแก้ไขใช่หรือไม่?");
        }
    </script>
</body>

</html>