{% extends 'index.html' %} {% block content %}
<div class="container-fluid p-0">
    <!--  Header End -->
    <div class="row">
        <div class="card w-100">
            <div class="card-body p-4">
                <h4 class="fw-semibold mb-4">สร้าง Engagement</h4>
                <form method="post" action="{% url 'Taskscontroller:engagement_create' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="" class="form-label fw-semibold">รหัสลูกค้า</label>
                            <select name="client" id="" class="selectpicker" data-live-search="true" >
                                {% for c in client %}
                                <option value="{{ c.id }}" {% if c.id == selected_client_id %}selected{% endif %}>
                                    {{ c.code }} {{ c.company_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="" class="form-label fw-semibold">รหัส Job</label>
                            <input type="text" name="job_code" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="" class="form-label fw-semibold">วันที่เริ่มบริการ</label>
                            <input type="date" name="start_date_service" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label fw-semibold">วันที่สิ้นสุดบริการ</label>
                            <input type="date" name="end_date_service" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="start_date_period" class="form-label fw-semibold">รอบที่เริ่มให้บริการ</label>
                            <input type="date" name="start_date_period" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="end_date_period" class="form-label fw-semibold">รอบที่สิ้นสุดให้บริการ</label>
                            <input type="date" name="end_date_period" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h5 class="fw-semibold">บัญชี</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label fw-semibold" for="">บันทึกบัญชี</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ตามอกสาร</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">เก็บเอกสาร</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success">เพิ่มงาน</button>
                        </div>
                    </div>

                    <!--Tax-->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h5 class="fw-semibold">ภาษี</h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label fw-semibold" for="">ภงด.1</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select"> 
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ภงด.3</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ภงด.54</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ภงด.53</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>ประเภท</option>
                                <option value="ครั้งเดียว">ครั้งเดียว</option>
                                <option value="รายเดือน">รายเดือน</option>
                                <option value="รายปี">รายปี</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>เดดไลน์</option>
                                <option value="ตามกฎหมาย">ตามกฎหมาย</option>
                                <option value="ระบุเอง">ระบุเอง</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for=""></label>
                            <select name="" id="" class="form-select">
                                <option selected>การแจ้งเตือน</option>
                                <option value="3">3 วัน</option>
                                <option value="5">5 วัน</option>
                                <option value="7">7 วัน</option>
                            </select>
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">เริ่มต้น</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                        <div class="col-md-2" class="form-select">
                            <label for="">สิ้นสุด</label>
                            <input type="date" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้ตรวจทาน</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">ผู้อนุมัติ</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success">เพิ่มงาน</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success">เพิ่มหมวด</button>
                        </div>
                    </div>









                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>
                        <button type="resert" class="btn btn-light">ล้างข้อมูล</button>
                    </div>
                </form>
                <div class="d-grid gap-2 d-md-flex">
                    <a class="btn btn-dark" href="{% url 'Taskscontroller:engagement_list' %}">กลับไปยังหน้ารายการ</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('clientselect').selectpicker();
    });
</script>


{% endblock content %}