{% extends 'index.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card w-100">
            <div class="card-body p-4">
                <h4 class="fw-semibold mb-4">ข้อมูล Engagement</h4>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'AccountTask:engagement_create'%}">
                        <button type="button" class="btn btn-success">
                            <i class="fa-solid fa-file-circle-plus"></i>
                            <span>เพิ่ม</span>
                        </button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">เลขที่</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">รหัสลูกค้า</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">ผู้รับผิดชอบ</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">เริ่มให้บริการ</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">สิ้นสุดให้บริการ</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">สถานะ</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0"></h6></th>
                                <th class="border-bottom-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in engagement %}
                            <tr>
                                <td class="border-bottom-0">
                                    <a class="fw-normal" href="{{ e.job_code }}">{{ e.job_code }}</a>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-normal">{{ e.client.code }} {{ e.client.company_name }}</h6>
                                    <span class="fw-normal">{{ e.client.tax_id }}</span>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-normal"></h6>
                                </td>
                                <td class="border-bottom-0">
                                    <p class="mb-0 fw-normal">{{ e.start_date_service }}</p>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-normal">{{ e.end_date_service }}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-normal">{{ e.status.status }}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <a href="{% url 'AccountTask:client_update' pk=forloop.counter %}" class="btn btn-sm btn-neutral">
                                        <button type="button" class="btn btn-outline-warning fw-normal">แก้ไข</button>
                                    </a>
                                    <a href="{% url 'AccountTask:delete_client' pk=forloop.counter %}" onclick="deleted()">
                                        <i class="fa-solid fa-trash-can fa-lg" style="color: #ff0000;"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}