{% extends 'index.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card w-100">
            <div class="card-body p-4">
                <h4 class="fw-semibold mb-4">Lists</h4>
                <div>
                    <a href="{% url 'Taskscontroller:engagement_create'%}">
                        <button type="button" class="btn btn-success">เพิ่มข้อมูล<i class="bi bi-plus-circle-fill"></i></button>
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Engagemnt</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">รหัสลูกค้า</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">ชื่อบริษัท</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">เลขที่นิติ</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">ผู้รับผิดชอบ</h6></th>
                                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">สถานะ</h6></th>
                                <th class="border-bottom-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}