/*font*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600&display=swap");

* {
  font-family: "Noto Sans Thai", sans-serif;
}

body {
  background: url("/static/img/background.png");
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
}

/*ของหน้าTasks*/
.group:hover .group-hover\:flex {
  display: flex !important;
}

/*class ของ input*/
.inputtext {
  background-color: #f7fafc;
  border: 1px solid #e5e7eb;
  border-color: #d1d5db;
  color: #111827;
  font-size: 0.875rem;
  border-radius: 0.675rem;
  display: block;
  width: 100%;
  padding: 0.625rem;
  outline: none;
}

.inputtext:focus {
  box-shadow: 0 0 0 1px #76A9FA;
  border-color: #76A9FA;
}

.inputtext.dark {
  background-color: #374151;
  border-color: #1f2937;
  color: #9ca3af;
}

.inputtext.dark::placeholder {
  color: #9ca3af;
}

.inputtext.dark.text-white {
  color: #ffffff;
}

.inputtext.dark:focus {
  box-shadow: 0 0 0 1px #76A9FA;
  border-color: #76A9FA;
}

/*lable*/
.lable {
  display: block;
  margin-bottom: 0.5rem; /* You can adjust the margin as needed */
  font-size: 0.875rem;
  font-weight: 500; /* This is font-medium */
  color: #111827;
}

.lable.dark {
  color: #ffffff; /* This is dark:text-white */
}

.radioC {
  /* Apply styles directly to elements within the .radio class */
  width: 1rem; /* Adjust as needed */
  height: 1rem; /* Adjust as needed */
  color: #2563EB; /* or your desired blue color */
  background-color: #f0f4f8; /* or your desired gray color */
  border: 1px solid #cbd5e0; /* or your desired gray border color */
}

.radioC:focus {
  box-shadow: 0 0 0 2px #2563EB;
  outline: none; /* Remove default browser outline on focus */
}

.radioC.dark:focus {
  box-shadow: 0 0 0 2px #2563EB; /* Adjust color as needed */
  outline: none; /* Remove default browser outline on focus */
}

.radioC.dark:focus-ring-offset {
  box-shadow: 0 0 0 2px #1f2937; /* or your desired dark gray color */
}

.radioC:focus-ring-2 {
  box-shadow: 0 0 0 2px transparent; /* or your desired ring style */
}

.radioC.dark-bg-gray-700 {
  background-color: #374151; /* or your desired dark gray background color */
}

.radioC.dark-border-gray-600 {
  border: 1px solid #1f2937; /* or your desired dark gray border color */
}
