{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'src/base.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <nav class="sticky inset-0 z-10 block h-max w-full max-w-full rounded-none border border-white/80 bg-white bg-opacity-80 py-2 px-4 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4">
        <div class="flex items-center text-gray-900">
            <span class="mr-4 block cursor-pointer py-1.5 font-sans text-base font-bold leading-relaxed text-inherit antialiased">Demo Tasks Management
            </span>
            <ul class="ml-auto mr-8 hidden items-center gap-6 lg:flex">
                <li class="block p-1 font-sans font-semibold leading-semibold text-inherit antialiased">
                    <a class="flex items-center" href="#">ข้อมูลลูกค้า</a>
                </li>
                <li class="block p-1 font-sans font-semibold leading-semibold text-inherit antialiased">
                    <a class="flex items-center" href="#">ข้อมูลการว่าจ้าง</a>
                </li>
                <li class="block p-1 font-sans font-semibold leading-semibold text-inherit antialiased">
                    <a class="flex items-center" href="#">ติดตามงาน</a>
                </li>
                <li class="block p-1 font-sans font-semibold leading-semibold text-inherit antialiased">
                    <a class="flex items-center" href="#">Dashboard</a>
                </li>
            </ul>
            <button type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">ออกจากระบบ
            </button>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">โปรไฟล์
            </button>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>